.wrapper {
    background: black;
    border-radius: 50px;
    padding:1vh 2vw 1vh 2vw ;
    color: white;
    border: 2px solid black;
    font-weight: 700;
    cursor: pointer;
    transition: all ease .5s;
    align-self: flex-start;
    &:hover {
        background: white;
        color: black;
    }
}