.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
.logo {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate3d(0,-50%,0);
    
}
.container {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ul {
        display: flex;
        justify-content: space-between;
        width: 40%;
        list-style: none;
    }
}
}